- unless student.payments.empty?
  .row
    %strong.col-sm-4= t('payments.columns.paid_for')
    %strong.col-sm-4= t('payments.columns.paid_at')
    %strong.col-sm-4.text-right= t('shared.actions')
  - student.payments.order(:year, :month).each do |payment|
    .row
      .col-sm-4= payment.decorate.payment_describe
      .col-sm-4= payment.paid_at
      .col-sm-4.text-right
        = link_to edit_payment_path(payment), { title: t('shared.edit') } do
          %button.btn.btn-default
            = fa_icon "edit"
        = link_to payment_path(payment), { method: :delete, title: t('shared.delete') } do
          %button.btn.btn-default
            = fa_icon "trash"
- else
  .row
    %strong.col-sm-12.text-center
      .btn-warning= t('payments.no-payments')
