- breadcrumb :payments
.row= link_to t('shared.add_new_item'), new_payment_path, class: 'btn btn-default'
.row
  %table#payments-students.table-bordered.table-hover.col-sm-12
    %thead
      %tr
        %th= t('student.columns.full_name')
        %th= t('student.columns.payments')
    %tbody
      / ident in YOLO style - 4,5 hour (DataTables doesn't want to get data from DOM)
      - students.each do |student|
        %tr
          %td{"data-sort": student.last_name}= student.decorate.full_name
          %td
            = render 'payment', student: student
